@import "reset.css";
@import "auticons.css";
@import url("//fonts.googleapis.com/css?family=Lato:100,400,900");
@import url("//fonts.googleapis.com/css?family=Droid+Sans+Mono");
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 110%;
  line-height: 1.3em;
  padding: 0 10%;
  max-width: 960px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-weight: 100;
  padding: 20px 0;
}
p,
li {
  font-weight: 100;
  margin: 20px 0;
}
li:before {
  content: 'â‡';
  margin-right: .5em;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
code,
pre {
  font-family: 'Droid Sans Mono';
  font-size: 0.7em;
  padding: 2.5px 5px;
  background-color: #fafafa;
  border: 1px dotted #e0e0e0;
  border-radius: 2px;
  color: #808080;
}
code:hover,
pre:hover {
  border-style: solid;
}
pre {
  padding: 10px;
  overflow: scroll;
}
body > header {
  border-bottom: 1px solid #808080;
  padding: 10px;
  text-align: right;
}
body > header > p {
  color: #808080;
}
body > header > img {
  float: left;
  max-width: 200px;
  margin-top: 10px;
}
body > footer {
  border-top: 1px solid #808080;
  padding: 10px;
}
main {
  padding: 10px;
}
a {
  text-decoration: none;
  color: #bada55;
  transition: color .2s;
}
a:visited {
  color: #bada55;
}
a:hover {
  color: #86a524;
}
